<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- vo 별칭 부여 -->
<!--   <typeAliases> -->
<!--   	<typeAlias alias="UserVo" type="kr.or.ddit.user.model.UserVo"/> -->
<!--   	<typeAlias alias="PageVo" type="kr.or.ddit.util.model.PageVo"/> -->
<!--   	<typeAlias alias="LprodVo" type="kr.or.ddit.lprod.model.LprodVo"/> -->
<!--   	<typeAlias alias="ProdVo" type="kr.or.ddit.lprod.model.ProdVo"/> -->
<!--   </typeAliases> -->
  
  <!-- mapper 설정 -->
<!--   <mappers> -->
<!--     <mapper resource="kr/or/ddit/config/db/mapper/user.xml"/> -->
<!--     <mapper resource="kr/or/ddit/config/db/mapper/lprod.xml"/> -->
<!--     <mapper resource="kr/or/ddit/config/db/mapper/ranger.xml"/> -->
<!--   </mappers> -->
</configuration>